<a href="https://colab.research.google.com/github/Robinkim0125/DataAnalysis/blob/main/PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 분석을 위한 파이선 기초

파이선 기초(list)

In [ ]:
list = ['a','b']
type(list)

list

In [ ]:
list = [1,2,3,4,5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

조건문

In [ ]:
for i in range(0,5):
    print(i)
print(1)

0
1
2
3
4
1

In [ ]:
list = ['a','b','c','d']
for a in list:
    print(a)

a
b
c
d

비교연산자&if문

In [ ]:
if (2==2):
    print("a")
else:
    print("b")

a

In [ ]:
s = 85
if s > 90:
    print("a")
elif s>80:
    print("b")
elif s>70:
    print("c")
else:
    print("F")

b

함수

In [ ]:
def 함수이름(인자1,인자2):
    수행할 코드
    return 최종결과

In [ ]:
def V(a,b,c): #함수의 인자 / 값이 있어야 함수 실행이 됨
    return a*b*c  #함수의 결과값을 나중에 또 사용할 수 있도록 함
                #return 은 출력하는 코드가 아님
                #return 을 써야만 변수에 결과값 저장 가능
print(V(1,2,3))

6

In [ ]:
def S(a,b,c):
    return 2*(a*b+b*c+a*c)
print(S(1,2,3))

22

파이썬 클래스 &예외처리

패키지(Pandas)

In [ ]:
import pandas as pd # df란 이름의 데이터프레임을 생성합니다.
items = {'code' : [101, 102, 103, 104, 105, 106, 107, 108],
         '과목': ['수학', '영어', '국어', '체육', '미술', '사회', '도덕', '과학'],
         '수강생':[15, 15, 10, 50, 20, 50, 70, 10],
         '선생님': ['김민수','김현정','강수정', '이나리', '도민성', '강수진', '김진성', '오상배']}
df = pd.DataFrame(items)
df

   code  과목  수강생  선생님
0   101  수학   15  김민수
1   102  영어   15  김현정
2   103  국어   10  강수정
3   104  체육   50  이나리
4   105  미술   20  도민성
5   106  사회   50  강수진
6   107  도덕   70  김진성
7   108  과학   10  오상배

In [ ]:
items2 = {'code' : [109, 110],
         '과목': ['컴퓨터', '한자'],
         '수강생':[10, 12],
         '선생님': ['이철민', '김영우']}
df2 = pd.DataFrame(items2)
df2

   code   과목  수강생  선생님
0   109  컴퓨터   10  이철민
1   110   한자   12  김영우

In [ ]:
total_df= pd.concat([df,df2])
print(total_df)

   code   과목  수강생  선생님
0   101   수학   15  김민수
1   102   영어   15  김현정
2   103   국어   10  강수정
3   104   체육   50  이나리
4   105   미술   20  도민성
5   106   사회   50  강수진
6   107   도덕   70  김진성
7   108   과학   10  오상배
0   109  컴퓨터   10  이철민
1   110   한자   12  김영우

In [ ]:
total_df.to_csv('data.csv', index=False)

In [ ]:
new_df=pd.read_table('data.csv', sep=',')
new_df

   code   과목  수강생  선생님
0   101   수학   15  김민수
1   102   영어   15  김현정
2   103   국어   10  강수정
3   104   체육   50  이나리
4   105   미술   20  도민성
5   106   사회   50  강수진
6   107   도덕   70  김진성
7   108   과학   10  오상배
8   109  컴퓨터   10  이철민
9   110   한자   12  김영우

1-5 웹 스크래핑 패키지

beuatifulSoup 패키지

In [ ]:
from bs4 import BeautifulSoup
# pip install beautifulSoup4

In [ ]:
# bs4라는 패키지로부터 BeautifulSoup라는 모듈을 임포트
from bs4 import BeautifulSoup

# HTML 문서를 문자열 html로 저장
html = '''
<html> 
    <head> 
    </head> 
    <body> 
        <h1> 장바구니
            <p id='clothes' class='name' title='라운드티'> 라운드티
                <span class = 'number'> 25 </span> 
                <span class = 'price'> 29000 </span> 
                <span class = 'menu'> 의류</span> 
                <a href = 'http://www.naver.com'> 바로가기 </a> 
            </p> 
            <p id='watch' class='name' title='시계'> 시계
                <span class = 'number'> 28 </span>
                <span class = 'price'> 32000 </span> 
                <span class = 'menu'> 액세서리 </span> 
                <a href = 'http://www.facebook.com'> 바로가기 </a> 
            </p> 
        </h1> 
    </body> 
</html>
'''

# BeautifulSoup 인스턴스 생성. 두번째 매개변수는 분석할 분석기(parser)의 종류.
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# 바디 태그만 가져오기
print(soup.select('body'))

[<body>
<h1> 장바구니
            <p class="name" id="clothes" title="라운드티"> 라운드티
                <span class="number"> 25 </span>
<span class="price"> 29000 </span>
<span class="menu"> 의류</span>
<a href="http://www.naver.com"> 바로가기 </a>
</p>
<p class="name" id="watch" title="시계"> 시계
                <span class="number"> 28 </span>
<span class="price"> 32000 </span>
<span class="menu"> 액세서리 </span>
<a href="http://www.facebook.com"> 바로가기 </a>
</p>
</h1>
</body>]

In [ ]:
print(soup.select('a'))

[<a href="http://www.naver.com"> 바로가기 </a>, <a href="http://www.facebook.com"> 바로가기 </a>]

In [ ]:
print(soup.select('.price')) 
# class 가져올때는 앞에 점 붙이기

[<span class="price"> 29000 </span>, <span class="price"> 32000 </span>]

In [ ]:
print(soup.select('#watch'))

[<p class="name" id="watch" title="시계"> 시계
                <span class="number"> 28 </span>
<span class="price"> 32000 </span>
<span class="menu"> 액세서리 </span>
<a href="http://www.facebook.com"> 바로가기 </a>
</p>]

In [ ]:
print(soup.select('#clothes .price'))

[<span class="price"> 29000 </span>]

In [ ]:
s= soup.a.get('href')
print(s)

http://www.naver.com

newspaper3K 패키지

In [ ]:
# newspaper라는 패키지로부터 Article이라는 모듈을 임포트
from newspaper import Article

# 파싱할 뉴스 기사 주소
url = 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=030&aid=0002881076'

# 언어가 한국어이므로 language='ko'로 설정
article = Article(url, language='ko')

# 뉴스 제목과 본문을 찾아내는 분석!
article.download()
article.parse()

In [ ]:
print(article.title)

[AI 사피엔스 시대]자연어처리 기술, 컴퓨팅 파워 경쟁 시대로

In [ ]:
print(article.text)