<a href="https://colab.research.google.com/github/Robinkim0125/DataAnalysis/blob/main/%EC%A3%BC%EB%A5%98%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주류 데이터 불러오기

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drink_df = pd.read_csv(url, ',')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
drink_df.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF

In [3]:
drink_df.sample()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
71,Guinea-Bissau,28,31,21,2.5,AF

In [4]:
drink_df.index #0부터 192개 까지 있음

RangeIndex(start=0, stop=193, step=1)

In [5]:
drink_df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [6]:
drink_df.shape #데이터 특성, 193행 6열

(193, 6)

In [7]:
drink_df.values # Numpy 형태로 변환 / 각 행을 하나의 리스트로 만든다.

array([['Afghanistan', 0, 0, 0, 0.0, 'AS'],
       ['Albania', 89, 132, 54, 4.9, 'EU'],
       ['Algeria', 25, 0, 14, 0.7, 'AF'],
       ...,
       ['Yemen', 6, 0, 0, 0.1, 'AS'],
       ['Zambia', 32, 19, 4, 2.5, 'AF'],
       ['Zimbabwe', 64, 18, 4, 4.7, 'AF']], dtype=object)

In [8]:
#특정 열에 접근하는 방법
#변수.해당열 /  변수['해당열'] --> series 라고 명시, DataFrame 이 아님
#변수[['해당열','해당열2' ....]]  --> 파이선 list 형태, DataFrame
drink_df['beer_servings']

0        0
1       89
2       25
3      245
4      217
      ...
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, Length: 193, dtype: int64

In [9]:
drink_df[['beer_servings','continent']]

     beer_servings continent
0                0        AS
1               89        EU
2               25        AF
3              245        EU
4              217        AF
..             ...       ...
188            333        SA
189            111        AS
190              6        AS
191             32        AF
192             64        AF

[193 rows x 2 columns]

In [10]:
drink_df.info() 
#종합적인 정보 파악 , non-null count 주목
#continent --> 23개의 결측치 발견.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

결측치 파악하기

In [11]:
print(drink_df.isnull().sum())

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [12]:
drink_df.dropna() #결측치있는 행 제거

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [13]:
drink_df.describe() #종합적인 분포 파악

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [14]:
drink_df.beer_servings.mean()  #접근 방법에 따라 특정 열에 특정 분포 값 파악 가능

106.16062176165804

In [15]:
drink_df.beer_servings.sum()/drink_df.beer_servings.count()

106.16062176165804

데이터 프레임에서 필터링 하기

In [20]:
drink_df.continent =="EU"

0      False
1       True
2      False
3       True
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: continent, Length: 193, dtype: bool

In [22]:
drink_df['continent']=="EU"

0      False
1       True
2      False
3       True
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: continent, Length: 193, dtype: bool

In [19]:
drink_df[drink_df.continent =="EU"]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [24]:
drink_df[drink_df.continent =="EU"][['country','continent']] 
#뒷부분은 열을 리스트로 만들어서 넣기 때문에 대괄호 2개

                country continent
1               Albania        EU
3               Andorra        EU
7               Armenia        EU
9               Austria        EU
10           Azerbaijan        EU
15              Belarus        EU
16              Belgium        EU
21   Bosnia-Herzegovina        EU
25             Bulgaria        EU
42              Croatia        EU
44               Cyprus        EU
45       Czech Republic        EU
48              Denmark        EU
57              Estonia        EU
60              Finland        EU
61               France        EU
64              Georgia        EU
65              Germany        EU
67               Greece        EU
75              Hungary        EU
76              Iceland        EU
81              Ireland        EU
83                Italy        EU
93               Latvia        EU
98            Lithuania        EU
99           Luxembourg        EU
105               Malta        EU
111              Monaco        EU
113          Montenegro        EU
120         Netherlands        EU
126              Norway        EU
135              Poland        EU
136            Portugal        EU
139             Moldova        EU
140             Romania        EU
147          San Marino        EU
151              Serbia        EU
155            Slovakia        EU
156            Slovenia        EU
160               Spain        EU
165              Sweden        EU
166         Switzerland        EU
170           Macedonia        EU
180             Ukraine        EU
182      United Kingdom        EU

In [25]:
drink_df[drink_df.beer_servings >=300 ][['country','continent']] 
# 비교연산자

            country continent
45   Czech Republic        EU
62            Gabon        AF
65          Germany        EU
81          Ireland        EU
98        Lithuania        EU
117         Namibia        AF
129           Palau        OC
135          Poland        EU
188       Venezuela        SA

In [27]:
drink_df[drink_df.beer_servings >= drink_df.beer_servings.mean()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
6,Argentina,193,25,221,8.3,SA
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
...,...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4,EU
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS

In [28]:
drink_df['continent'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: continent, Length: 193, dtype: bool

In [29]:
drink_df[drink_df['continent'].isnull()] #대륙 부분의 결측치만 출력

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NaN
11,Bahamas,122,176,51,6.3,NaN
14,Barbados,143,173,36,6.3,NaN
17,Belize,263,114,8,6.8,NaN
32,Canada,240,122,100,8.2,NaN
41,Costa Rica,149,87,11,4.4,NaN
43,Cuba,93,137,5,4.2,NaN
50,Dominica,52,286,26,6.6,NaN
51,Dominican Republic,193,147,9,6.2,NaN
54,El Salvador,52,69,2,2.2,NaN
68,Grenada,199,438,28,11.9,NaN
69,Guatemala,53,69,2,2.2,NaN
73,Haiti,1,326,1,5.9,NaN
74,Honduras,69,98,2,3.0,NaN
84,Jamaica,82,97,9,3.4,NaN
109,Mexico,238,68,5,5.5,NaN
122,Nicaragua,78,118,1,3.5,NaN
130,Panama,285,104,18,7.2,NaN
143,St. Kitts & Nevis,194,205,32,7.7,NaN
144,St. Lucia,171,315,71,10.1,NaN
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN
174,Trinidad & Tobago,197,156,7,6.4,NaN
184,USA,249,158,84,8.7,NaN

NOT : ~ /
AND : & /
OR  : | /조건문

In [30]:
drink_df[~(drink_df['continent']=='EU')] #대륙이 EU가 아닌것만 출력/조건에는 괄호 필수!

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
2,Algeria,25,0,14,0.7,AF
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [31]:
drink_df[(drink_df['continent']=='EU') & (drink_df.wine_servings>300)] #AND 조건문

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [33]:
drink_df[(drink_df['continent']=='EU') | (drink_df.wine_servings>300)] #OR 조건문 | --> shift+\

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [37]:
drink_df[drink_df.total_litres_of_pure_alcohol == drink_df['total_litres_of_pure_alcohol'].max()]['country']

15    Belarus
Name: country, dtype: object

In [42]:
drink_df[(drink_df['beer_servings']>300) | (drink_df['wine_servings']>300) | (drink_df['spirit_servings']>300) ]['country'].count()

18

데이터 정렬하기

In [43]:
drink_df.sort_values('beer_servings')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
40,Cook Islands,0,254,74,5.9,OC
79,Iran,0,0,0,0.0,AS
90,Kuwait,0,0,0,0.0,AS
97,Libya,0,0,0,0.0,AF
...,...,...,...,...,...,...
135,Poland,343,215,56,10.9,EU
65,Germany,346,117,175,11.3,EU
62,Gabon,347,98,59,8.9,AF
45,Czech Republic,361,170,134,11.8,EU
117,Namibia,376,3,1,6.8,AF

In [44]:
drink_df.sort_values('beer_servings', ascending='False') #내림차순

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
40,Cook Islands,0,254,74,5.9,OC
79,Iran,0,0,0,0.0,AS
90,Kuwait,0,0,0,0.0,AS
97,Libya,0,0,0,0.0,AF
...,...,...,...,...,...,...
135,Poland,343,215,56,10.9,EU
65,Germany,346,117,175,11.3,EU
62,Gabon,347,98,59,8.9,AF
45,Czech Republic,361,170,134,11.8,EU
117,Namibia,376,3,1,6.8,AF

In [45]:
drink_df.sort_values(['beer_servings','wine_servings']) 
#앞의 열 기준으로 정렬하고 순서 해치지 않는 선에서 뒤에 열 정렬

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
13,Bangladesh,0,0,0,0.0,AS
46,North Korea,0,0,0,0.0,AS
79,Iran,0,0,0,0.0,AS
90,Kuwait,0,0,0,0.0,AS
...,...,...,...,...,...,...
135,Poland,343,215,56,10.9,EU
65,Germany,346,117,175,11.3,EU
62,Gabon,347,98,59,8.9,AF
45,Czech Republic,361,170,134,11.8,EU
117,Namibia,376,3,1,6.8,AF